@model OzoMvc.Models.Oprema

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oprema</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KupovnaVrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KupovnaVrijednost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnjigovodstvenaVrijednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnjigovodstvenaVrijednost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeAmortizacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeAmortizacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referentni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referentni.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skladiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skladiste.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrsta.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventarniBroj">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
